#whole-site {
  background-color: rgb(24, 24, 24);
}

#menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  #menu-container {
    display: block;
  }
}

.navbar {
  background-color: rgb(24, 24, 24);
  border: none;
  padding-top: 2em;
}

.ui.menu {
  background-color: rgb(24, 24, 24);
}

.ui.menu {
  border-bottom: 0 none !important;
  box-shadow: none;
}

.content {
  font-weight: normal;
  font-size: 100%;
}

#external-links {
  margin-left: auto;
  font-size: 110%;
}

.container {
  width: 75%;
}

.link-text {
  text-decoration: none;
  color: #ffdc97;
}

.link-text:hover {
  color: #ffdc97;
}

#about-me {
  padding-top: 10em;
}

#main-header {
  color: #ffffff;
  font-size: 150%;
  font-family: "Montserrat", sans-serif;
}

#sub-header {
  padding-top: 2em;
  color: #ffffff;
  font-size: 1.3em;
  font-family: "Varela Round", sans-serif;
}

#bulletpoint {
  /* white-space: normal; */
  height: auto;
}

#title-home {
  justify-self: left;
  font-size: 250%;
  font-family: "Montserrat", sans-serif;
  color: #ffb448;
  text-decoration: none;
}

#footer {
  height: 5em;
}

#special-text {
  color: #ffb448;
  text-decoration: underline;
}

#project-title {
  padding-top: 5%;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 1.8em;
}

#project-intro {
  padding-top: 5%;
  font-size: 120%;
  font-family: "Montserrat", sans-serif;
}

#project-intro #bulletpoint {
  padding-top: 5%;
  font-size: 70%;
}

#footer-div {
  padding-top: 5%;
  font-size: 120%;
  font-family: "Varela Round", sans-serif;
  color: #ffffff;
}

#copyright {
  text-align: center;
  padding-top: 5em;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  color: #ffb448;
}

#horizontal-thumbnail {
  width: 80%;
  height: auto;
  border-radius: 2%;
}

#vertical-thumbnail {
  width: 30%;
  height: auto;
  border-radius: 2%;
}

#proj-desc {
  color: #ffffff;
  font-size: 1.2em;
  font-family: "Varela Round", sans-serif;
}

#list-view {
  padding-left: 1%;
}
